/* core */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
    overflow: auto;
}

header {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 0px;
    order: 2;
}

/* might need changing on how navbar is coded */
/* header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* header a, nav a {
    text-decoration: none;
    color: white;
} */

main {
    text-align: center;
    order: 3;
}

footer {
    font-size: small;
    background-color: black;
    order: 4;
}

.footerContactInfo:nth-child(2) {
    margin-bottom: 50px;
}


/* color */
.blue {
    background-color: #4d7889;
}

.midnight {
    background-color: #13262D;
}

.footerContacts {
    background-image: linear-gradient(grey 80%, black 90%);
}

.bgImageAO {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url("pictures/contacts/BG/Administration Office.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #4D7889;
}

.bgImageHO {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url("pictures/contacts/BG/Health Office.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #13262D;
}


/* fonts */
.aboreto {
    font-family: 'Aboreto', 'calibri', serif;
}

.notoSerif {
    font-family: 'Noto Serif', sans-serif;
}



.copyright {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.textDec, .navbar li a, div {
    text-decoration: none;
}

.pageTitles {
    font-size: 23px;
}

.altName {
    font-size: 18px;
}

.mainHeader {
    font-size: 21px;
}

.mainText {
    font-size: 18px;
}

.underline {
    border-bottom: 2px solid #F4F7EB;
    width: fit-content;
    margin: auto;
}

.whiteText, .navbar li, a, div {
    color: #F4F7EB;
}

.textShadowB {
    text-shadow: 2px 2px 4px black;
}

.welcome {
    text-align: center;
    font-size: 40px;
    /* position: absolute; */
    padding: 12px;
    margin-top: 0px;
    /* border-radius: 80px;
    background-image: radial-gradient(black 30%, transparent 90%); */
}

.homeStatements {
    line-height: 2em;
    font-style: italic;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}


/* catch all */
.flex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.mobileColumn {
    flex-direction: column;
}

.justifyBetween {
    justify-content: space-between;
}

.centerTA {
    text-align: center;
}

.centerJC {
    justify-content: center;
}

.centerAI {
    align-items: center;
}

.hidden {
    display: none;
}

.noOpacity {
    opacity: 0;
}

.listStyleNone li {
    list-style-type: none;
}

.bulletList {
    text-align: left;
    margin-left: 28px;
}

.bulletList li {
    padding-bottom: 18px;
}


/* catch all padding and margin */
.smallSidePadding {
    padding-left: 2.5%;
    padding-right: 2.5%
}

.smallTBPadding {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mainTextPadding {
    padding: 20px 5% 0px 5%;
}

.imagePadding {
    padding: 12px;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
}

.tablePadding {
    padding-top: 20px;
    padding-bottom: 8px;
}



/* images */
.mainLogo {
    width: 75px;
}

.responsiveImage {
    max-width: 80%;
    height: auto;
}

.bannerHeight {
    min-height: 500px;
    width: 100%;
    background-image: url("pictures/soowahlieLand/river_sunset.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* carousel */
.slider {
    /* background: white; */
    /* height: auto; */
    padding: 0px 0px 24px 0px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;

    /* position: relative; */
    /* flex-grow: 2; */
}

.slider:before {
    background: linear-gradient(to left,  rgba(19, 38, 45, 1) 0%,rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    /* pointer-events: none; */
    height: 100%;
    width: 100px;
}

.slider:after {
    background: linear-gradient(to right,  rgba(19, 38, 45, 1) 0%,rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    /* pointer-events: none; */
    height: 100%;
    width: 100px;
}

@keyframes carousel {
    0% {transform: translateX(0); }
    100% { transform: translateX(calc(-200px * 23)); }
}

.slideTrack {
    animation: carousel 30s linear infinite;
    display: flex;
    /* flex-wrap: nowrap; */
    padding: 0px;
    width: 100vw;
    /* width: calc(200px * 5); */
    /* width: calc(200px * 46); */
}

.slide {
    /* flex-shrink: 0; */
    width: 200px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    /* height: 100px;
    width: 250px; */
}


/* header */


/* navbar */
.sticky {
    /* overflow: hidden; */
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0px;
    z-index: 1;
    /* border-bottom: black ; */
}

.navWrapper {
    order: 1;
    padding: 12px;
    width: 100%;
    box-shadow: 0px 2px 10px 2px rgb(0 0 0 / 66%);
}

nav {
    padding: 0px 2.5%;
}

.burgerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.hamburger {
    border: solid white 2px;
    border-radius: 50px;
    background-color: white;
    height: 1px;
    width: 50%;
    transition: all 0.35s;
}

input:checked ~ label .burgerWrapper .hamburger {
    border: solid red 2px;
    background-color: red;
}

.patty {
    margin: 3px 0px;
}

.navbar {
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 4.0em;
    bottom: -94vh;
    left: -100%;
    right: 100%;
    transition: all 0.35s;
    margin: 0;
    /* margin-top: 2.5em; */
    padding: 0px 40px 0px 16px;
    /* height: 500px; */
    /* overflow: scroll; */

    /* for testing, keeps navbar on screen */
    /* left: 0vw;
    right: 0vw; */
}

::-webkit-scrollbar {
    display: none;
}

input:checked ~ .navbar {
    left: 0vw;
    right: 0vw;
    transition: all 0.35s;
}

.navbar li {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6px 0px;
}

.navbar ul li ul li:first-child {
    padding-top: 12px;
}

.navbar li a {
    display: flex;
    align-items: center;
}

.anchor {
    display: block;
    position: relative;
    top: -128px;
    visibility: hidden;
}

.navbar ul li div:focus-within ~ .navbarSubMenu {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
}

.navbar ul li ul li div:focus-within ~ .navbarSubMenuDD, .navbarSubMenu:focus-within {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
}

.filler {
    flex-grow: 2;
    height: 28px;
}

.arrowDD {
    font-size: 1.5em;
    transition: all 0.35s;
}

.navbar ul li div:focus-within > .arrowDD {
    text-align: center;
    transform: rotate(90deg);
    color: red;
}

.dropdownContent, .navbarSubMenu {
    max-height: 0px;
    visibility: collapse;
    opacity: 0;
    display: none;
    display: flex;
    flex-direction: column;
    transition: all 0.35s;
}

.dropdownContent a {
    padding: 8px 0px;
}

input:checked ~ .dropdownContent {
    max-height: 100vh;
    /* margin: 8px 0px 8px 16px; */
    visibility: visible;
    opacity: 1;
    padding: 12px 0px;
    /* transition: all 0.35s; */
}

input:checked ~ .dropdownContent a:last-child {
    padding-bottom: 0px;
}

/* .navbarSubMenu {
    max-height: 0;
    visibility: collapse;
} */

.navbar li button:checked ~ .dropdownContent {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 12px 0px;
}

.submenuDropdown input:checked ~ .navbarSubMenu {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 12px 0px;
}



/* tables */
.tables {
    border-spacing: 0px;
}

.tables tr th {
    border-bottom: solid white 2px;
}

.tables tr:nth-child(even) {
    background-color: rgba(57, 93, 114, 0.525);
}

.tables tr th {
    align-items: center;
}

.tables tr td {
    padding: 16px 0px;
}

.tables tr:last-child td:nth-last-child(-n+3) {
    padding-bottom: 24px;
}



/* contacts */
.staffContacts ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
}

.staffPic {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    width: 200px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: #A4B75F;
}

.staffContacts img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 50%;
}

.staffName {
    margin: 20px 0px 12px 0px;
    font-size: 28px;
}

.staffTitle {
    margin: 12px 0px;
    font-size: 20px;
}

.staffInfo {
    margin: 0px 0px 8px 0px;
    font-weight: normal;
    font-size: 16px;
}

.officeSeparator {
    border-bottom: 8px solid black;
}



/* About Dropdown */
.contactsAccordion {
    position: relative;
    width: 80%;
}

[id*="openContactsAboutAcrd"], [id*="closeContactsAboutAcrd"] {
    background: #13262D;
    /* border-bottom: 1px solid #fff; */
    border-radius: 40px;
    line-height: 40px;
    /* height: 40px; */
    display: block;
    margin: 0 auto;
    position: relative;
    width: 50%;
}

[id*="closeContactsAboutAcrd"] {
    display: none;
}

.contactsAccordion a {
    color: white;
    background-color: #13262D;
    font-size: 20px;
    /* font-weight: normal; */
    /* padding-left: 2%; */
    text-decoration: none;
    /* text-shadow: none; */
}

.contactsAccordion a:hover {
    background-color: #4D7889;
}

[id*="openContactsAboutAcrd"]:after, [id*="closeContactsAboutAcrd"]:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    /* right: 5px; */
    margin-left: 12px;
    top: 15px;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    z-index: 1;
}

.targetFix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

.accordionContent {
    background: #F0F7D4;
    height: 0;
    margin-top: 12px;
    padding: 0 2.5%;
    position: absolute;
    overflow: hidden;
    width: 200%;
    font-size: 17px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 66%);
}

.accordionContent p {
    padding-bottom: 16px;
    color: black;
}

.accordionContent p:last-child {
    padding-bottom: 0px;
}

.contactsAccordion span:target ~ .accordionContent {
    display: block;
    height: auto;
    padding: 12px 5%;
    border: 2px solid black;
    border-radius: 12px;
    /* padding-bottom: 25px;
    padding-top: 10px; */
}

.contactsAccordion span:target ~ [id*="closeContactsAboutAcrd"] {
    display: block;
    background-color: #4D7889;
}

.contactsAccordion span:target ~ [id*="openContactsAboutAcrd"] {
    display: none;
}

.contactsAccordion span:target ~ [id*="closeContactsAboutAcrd"]:after {
    border-top: 10px solid rgba(255, 255, 255, 0.6);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.cAboutMiddle {
    left: -50%;
}

.cAboutRight {
    right: 1px;
}



/* footer */
.footerContactInfo h3 {
    margin: 12px 0px;
    font-size: 20px;
}

.footerContactInfo p {
    margin: 0px 0px 8px 0px;
    font-size: 12px;
}


/* media queries */
@media screen and (min-width: 1024px) {
    /* fonts */
    .mainHeader {
        font-size: 36px;
    }

    .mainText {
        font-size: 20px;
    }

    .welcome {
        text-align: center;
        font-size: 40px;
        /* position: absolute; */
        padding: 12px;
        margin: 0px 25%;
        /* border-radius: 80px;
        background-image: radial-gradient(black 30%, transparent 90%); */
    }
    
    /* catch all */
    .desktopRow {
        flex-direction: row;
    }


    .spaceBetween {
        justify-content: space-between;
    }


    /* header */
    header {
        display: flex;
        justify-content: center;
        order: 1;
    }
    
    .pageTitles {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        text-align: left;
        padding-left: 12px;
    }

    .altName {
        font-size: 18px;
    }
    



    .fortyWidth {
        width: 40%;
    }
    
    .halfWidth {
        width: 50%;
    }
    
    .sixtyWidth {
        width: 60%
    }


    /* Navbar */
    .navWrapper {
        order: 2;
    }

    /* .navWrapper {
        display: none;
    } */

    /* .navbar {
        display: flex;
        position: relative;
        left: 0vw;
        right: 0vw;

    } */

    /* .navbarTitle {
        display: none;
    }

    .burgerWrapper {
        display: none;
    }

    nav label {
        display: none;
    } */



    /* tables */
    .tables tr th {
        padding-left: 36px;
        padding-right: 36px;    
    }
    



    /* contacts */
    .staffContacts ul {
        justify-content: space-between;
    }

    .staffContacts ul li {
        flex-basis: 33.33333%;
    }




    /* footer */
    .footerContactInfo h3 {
        font-size: 26px;
    }
    
    .footerContactInfo p {
        font-size: 18px;
    }

    .footerContactInfo:nth-child(2) {
        margin-bottom: 20px;
    }

    .copyright {
        align-items: center;
        font-size: medium;
    }

    .footerLeft {
        margin-left: 10%;
        padding-bottom: 12px;
    }

    .footerRight {
        margin-right: 10%;
        padding-bottom: 12px;
    }
}