/* core */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
    overflow: auto;
}

header {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 0px;
    order: 2;
}

/* might need changing on how navbar is coded */
/* header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* header a, nav a {
    text-decoration: none;
    color: white;
} */

main {
    text-align: center;
    order: 3;
}

footer {
    font-size: small;
    background-color: black;
    order: 4;
}

.footerContactInfo:nth-child(2) {
    margin-bottom: 50px;
}


/* color */
.blue {
    background-color: #4d7889;
}

.midnight {
    background-color: #13262D;
}

.footerContacts {
    background-image: linear-gradient(grey 80%, black 90%);
}


/* fonts */
.aboreto {
    font-family: 'Aboreto', 'calibri', serif;
}

.notoSerif {
    font-family: 'Noto Serif', sans-serif;
}



.copyright {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.textDec, .navbar li a, div {
    text-decoration: none;
}

.pageTitles {
    font-size: 23px;
}

.altName {
    font-size: 18px;
}

.mainHeader {
    font-size: 21px;
}

.mainText {
    font-size: 18px;
}

.underline {
    border-bottom: 2px solid #F4F7EB;
    width: fit-content;
    margin: auto;
}

.whiteText, .navbar li, a, div {
    color: #F4F7EB;
}

.textShadowB {
    text-shadow: 2px 2px 4px black;
}


/* catch all */
.flex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.mobileColumn {
    flex-direction: column;
}

.justifyBetween {
    justify-content: space-between;
}

.centerTA {
    text-align: center;
}

.centerJC {
    justify-content: center;
}

.centerAI {
    align-items: center;
}

.hidden {
    display: none;
}

.noOpacity {
    opacity: 0;
}

.listStyleNone li {
    list-style-type: none;
}

.bulletList {
    text-align: left;
    margin-left: 28px;
}

.bulletList li {
    padding-bottom: 18px;
}


/* catch all padding and margin */
.smallSidePadding {
    padding-left: 2.5%;
    padding-right: 2.5%
}

.smallTBPadding {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mainTextPadding {
    padding: 20px 5% 0px 5%;
}

.imagePadding {
    padding: 12px;
}



/* images */
.mainLogo {
    width: 75px;
}

.responsiveImage {
    max-width: 80%;
    height: auto;
}



/* header */


/* navbar */
.sticky {
    /* overflow: hidden; */
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0px;
    z-index: 1;
    /* border-bottom: black ; */
}

.navWrapper {
    order: 1;
    padding: 12px;
    width: 100%;
    box-shadow: 0px 2px 10px 2px rgb(0 0 0 / 66%);
}

nav {
    padding: 0px 2.5%;
}

.burgerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.hamburger {
    border: solid white 2px;
    border-radius: 50px;
    background-color: white;
    height: 1px;
    width: 50%;
    transition: all 0.35s;
}

input:checked ~ label .burgerWrapper .hamburger {
    border: solid red 2px;
    background-color: red;
}

.patty {
    margin: 3px 0px;
}

.navbar {
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 4.0em;
    bottom: -94vh;
    left: -100%;
    right: 100%;
    transition: all 0.35s;
    margin: 0;
    /* margin-top: 2.5em; */
    padding: 0px 40px 0px 16px;
    /* height: 500px; */
    /* overflow: scroll; */

    /* for testing, keeps navbar on screen */
    /* left: 0vw;
    right: 0vw; */
}

::-webkit-scrollbar {
    display: none;
}

input:checked ~ .navbar {
    left: 0vw;
    right: 0vw;
    transition: all 0.35s;
}

.navbar li {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6px 0px;
}

.navbar ul li ul li:first-child {
    padding-top: 12px;
}

.navbar li a {
    display: flex;
    align-items: center;
}

.anchor {
    display: block;
    position: relative;
    top: -128px;
    visibility: hidden;
}

.navbar ul li div:focus-within ~ .navbarSubMenu {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
}

.navbar ul li ul li div:focus-within ~ .navbarSubMenuDD, .navbarSubMenu:focus-within {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
}

.filler {
    flex-grow: 2;
    height: 28px;
}

.arrowDD {
    font-size: 1.5em;
    transition: all 0.35s;
}

.navbar ul li div:focus-within > .arrowDD {
    text-align: center;
    transform: rotate(90deg);
    color: red;
}

.dropdownContent, .navbarSubMenu {
    max-height: 0px;
    visibility: collapse;
    opacity: 0;
    display: none;
    display: flex;
    flex-direction: column;
    transition: all 0.35s;
}

.dropdownContent a {
    padding: 8px 0px;
}

input:checked ~ .dropdownContent {
    max-height: 100vh;
    /* margin: 8px 0px 8px 16px; */
    visibility: visible;
    opacity: 1;
    padding: 12px 0px;
    /* transition: all 0.35s; */
}

input:checked ~ .dropdownContent a:last-child {
    padding-bottom: 0px;
}

/* .navbarSubMenu {
    max-height: 0;
    visibility: collapse;
} */

.navbar li button:checked ~ .dropdownContent {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 12px 0px;
}

.submenuDropdown input:checked ~ .navbarSubMenu {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 12px 0px;
}



/* footer */
.footerContactInfo h3 {
    margin: 12px 0px;
    font-size: 20px;
}

.footerContactInfo p {
    margin: 0px 0px 8px 0px;
    font-size: 12px;
}


/* media queries */
@media screen and (min-width: 1024px) {
    /* fonts */
    .mainHeader {
        font-size: 36px;
    }

    .mainText {
        font-size: 20px;
    }
    
    /* catch all */
    .desktopRow {
        flex-direction: row;
    }


    .spaceBetween {
        justify-content: space-between;
    }


    /* header */
    header {
        display: flex;
        justify-content: center;
        order: 1;
    }
    
    .pageTitles {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        text-align: left;
        padding-left: 12px;
    }

    .altName {
        font-size: 18px;
    }
    



    .fortyWidth {
        width: 40%;
    }
    
    .halfWidth {
        width: 50%;
    }
    
    .sixtyWidth {
        width: 60%
    }


    /* Navbar */
    .navWrapper {
        order: 2;
    }

    /* .navWrapper {
        display: none;
    } */

    /* .navbar {
        display: flex;
        position: relative;
        left: 0vw;
        right: 0vw;

    } */

    /* .navbarTitle {
        display: none;
    }

    .burgerWrapper {
        display: none;
    }

    nav label {
        display: none;
    } */


    /* footer */
    .footerContactInfo h3 {
        font-size: 26px;
    }
    
    .footerContactInfo p {
        font-size: 18px;
    }

    .footerContactInfo:nth-child(2) {
        margin-bottom: 20px;
    }

    .copyright {
        align-items: center;
        font-size: medium;
    }

    .footerLeft {
        margin-left: 10%;
        padding-bottom: 12px;
    }

    .footerRight {
        margin-right: 10%;
        padding-bottom: 12px;
    }
}